/* don't think this is used: */
form div {
  margin: 1em;
  display: inline-block;
  letter-spacing: 0.25rem;
}

/* grace topper styling: */

body {
  font-family: 'Raleway', sans-serif;
  border: 1px solid red;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

/* navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
  background-color: black;
  border-bottom: 2px solid #d4d4d5;
}

.logo-wrapper {
  width: 23vw;
}
img#logo {
  width: 100%;
}

.nav-wrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.welcome {
  color: white;
  text-align: right;
  margin: 0.5em 1em;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav a {
  display: inline-block;
  font-weight: 600;
  margin: 0.3em 1em 0.8em 1em;
}

/* home page image */

.home-image {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.home-image > img {
  height: 100%;
  opacity: 50%;
}

/* pages */

.centered-parent {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

/* AllItems component */

.custom-card-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80vw;
}

.custom-card {
  width: 225px;
  /* flex: 1 0 33%; */
  margin: 1rem;
}

/* AllItems & SingleItems components */
.target-name {
  font-size: 1.3rem;
  font-weight: 600;
}

.target-name:hover {
  color: black;
  transition: all 0.5s ease;
}

/* SingleItems component */

/* similar to .custom-card-list: */
.single-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80vw;
  padding: 20px 0;
}

.item-image {
  width: 60%;
  margin-right: 2rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  justify-content: flex-start;
}

.item-image img {
  width: 100%;
  background: #fff;
}

.item-details {
  width: 40%;
  margin-left: 1rem;
  justify-content: flex-end;
}

.target-name,
.item-desc,
.item-review-stars,
.item-price,
.desc-label {
  padding-bottom: 10px;
}

.item-desc {
  font-style: oblique;
}

.item-price {
  font-weight: 600;
  font-size: 1.1rem;
}

#item-cat {
  margin-bottom: 10px;
}

.star-yellow {
  color: #fde350;
}

/* button */
#add-cart-item {
  padding: 15px;
  margin-top: 10px;
}
.submit-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

button:focus {
  outline: 0;
}

/* reviews on SingleItem page; except for star icons, semantic-ui styling removed from ReviewCard */

/* id to pre-empt semantic-ui class styling (width too narrow) */
#review-list,
#review-form {
  width: 80%;
}

.reviews-header {
  font-family: 'Raleway', sans-serif;
  /* color: #606060; */
}

/* add review button */
button#add-review.ui.label {
  border: 1px solid #e8e8e8;
  color: #6a6969;
  background-color: white;
  border-radius: 0.28571429rem;
}
.icon-padding {
  padding-left: 0.5em;
}

#button-wrapper {
  width: 100%;
  margin: 7px 5px 0 0;
}

/* same as other outlined buttons */
button#add-review.ui.label:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.review-card {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
}

.review-info {
  display: flex;
}

.review-author {
  font-weight: 600;
  padding: 0 10px 0 0;
}

.review-date {
  color: #989898;
  padding: 0 10px 0 0;
}

.review-rating {
  color: #989898;
}

.review-text {
  margin: 5px 0 15px 0;
}

.order {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
}

.review-cust {
  font-family: 'Open Sans', sans-serif;
  margin: 10px 0;
}

/* cart */
.button-holder {
  display: flex;
  justify-content: space-around;
  padding-bottom: 5px;
}

.quantity-input {
  width: 75px;
}

/* checkout page */
#segment-checkout-form,
#segment-checkout-user {
  width: 70vw;
  margin-top: 2rem;
}

.checkout-form {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  margin-top: 10px;
}
/* #checkout-form {
  padding-top: 30px;
} */

#checkout-header {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

/* overrides semantic-ui classes & make form rows fill width */
#name-wrapper,
#address-wrapper,
#email-wrapper {
  width: 100%;
  margin-left: 0;
}

#order-submit-button {
  margin: 20px 0;
}

#segment-checkout-user {
  font-weight: 600;
}

/* adds space bw Shipping Info & Cart table (Guest view) */
#shipping-top {
  margin-top: 2rem;
}

.user-info {
  text-align: center;
  line-height: 1.5rem;
  margin-top: 20px;
}

#checkout-user-divider {
  width: 96%;
}

#edit-user-details a {
  color: #6a6969;
}
button#edit-user-details.ui.label {
  border: 1px solid #e8e8e8;
  color: #6a6969;
  background-color: white;
  margin: 20px auto;
  border-radius: 0.28571429rem;
}
button#edit-user-details.ui.label:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/* removes useless dropdown from zip code input field */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
